/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */


.breadcrumb_last{
	color: #fff!important;
}
.ginput_container input {
    width: 100%!important;
}
.fl-page {
    width: auto;
    overflow: hidden;
}

p {
    margin-bottom: 24px;
}

p:last-child {
    margin-bottom: 0;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 1250px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited,
button,
input[type=button],
input[type=submit],
.button-wrapper a.button {
    padding: 12px 35px;
    background: #f06449;
    border: 1px solid #f06449;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    border-radius: 0 !important;
}

a.button:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
.button-wrapper a.button:hover {
    background: #fff;
    color: #f06449;
    border-color: #f06449;
}

a.fl-button:hover *,
a.fl-button:visited:hover *,
.fl-builder-content a.fl-button:hover *,
.fl-builder-content a.fl-button:visited:hover * {
    color: #f06449;
}

a.button.alt,
.button.alt,
a.fl-button.alt,
a.fl-button.alt:visited,
.fl-builder-content a.fl-button.alt,
.fl-builder-content a.fl-button.alt:visited,
button.alt,
input[type=button].alt,
input[type=submit].alt,
.button-wrapper a.button.alt {
    background-color: #00263a;
    border-color: #00263a;
    color: #fff;
}

a.button.alt:hover,
.button.alt:hover,
a.fl-button.alt:hover,
a.fl-button.alt:visited:hover,
.fl-builder-content a.fl-button.alt:hover,
.fl-builder-content a.fl-button.alt:visited:hover,
button.alt:hover,
input[type=button].alt:hover,
input[type=submit].alt:hover,
.button-wrapper a.button.alt:hover {
    color: #00263a;
    border-color: #00263a;
    background-color: #fff;
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


/*  Header CSS */

.fl-page-nav-centered-inline-logo {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 7;
    box-shadow: none;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
    margin: 0 0 0 -100px;
}

.fl-page-nav-centered-inline-logo .fl-page-header-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fl-page-nav-centered-inline-logo .navbar-nav li.fl-logo-centered-inline {
    margin: -50px 10px -50px 0px;
    width: 250px;
    padding-left: 15px;
}

.fl-page-header-fixed.fl-page-header-fixed .fl-page-nav-wrap .navbar-nav>li>a {
    color: #000 !important;
    font-size: 16px;
}


/* .fl-page-nav-centered-inline-logo .navbar-nav li.fl-logo-centered-inline img{
    max-width: 65%;
} */


/* Top Bar 1 */

.top-bar-1 {
    text-align: left;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    padding: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

.top-bar-1 .fl-row-content-wrap {
    background: none !important;
}

.top-bar-1 .fl-row-content-wrap .fl-module-content {
    margin-top: 0;
    margin-bottom: 0;
}

.top-bar-1 .fl-module-heading .fl-heading {
    margin: 0;
    padding: 0;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 .fl-module-icon {
    margin-top: 5px;
}

.top-bar-1 .fl-module-icon .fl-module-content {
    margin: 0;
}

.top-bar-1 .fl-module-icon .fl-icon-text {
    padding-left: 10px;
    height: auto !important;
}

.top-bar-1 .fl-module-icon .fl-icon-text p {
    display: block;
    margin: 0;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #fff;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}


/* Nav 1 Mega Menu */

.fl-page-nav-right .fl-page-nav-wrap a,
.fl-page-nav-right .fl-page-nav-wrap a * {
    color: #2d2d2d !important;
}

.fl-page-nav-wrap .navbar-nav>li {
    margin: 0 15px;
}

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 400;
    color: #fff !important;
    font-size: 18px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu,
.fl-page-nav ul.sub-menu {
    border-top: 3px solid #f06449;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.fl-page-nav ul li.fl-sub-menu-open>ul.sub-menu li.fl-sub-menu-open>ul.sub-menu{
    border-top: 3px solid #f06449;
}
.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /* margin-left: -60%; */
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 800px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}


/* .web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
} */

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}


/* .web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
} */

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0!important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 {
    max-width: 1100px;
    margin: 0 auto;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px;
    text-align: center;
}


/* .tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #f06449 !important;
} */

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    float: none;
    display: table-cell;
    width: 1%;
    border-radius: 100%;
    max-width: none;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label.fl-tab-active {
    color: #f06449 !important;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .tab_desc {
    width: 53%;
    float: left;
    margin-right: 2%;
    padding: 20px 20px 20px 0;
    font-family: 'Playfair Display', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 30px;
}

.tabs-5 .tab_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: #000;
    margin: 0 0 20px;
}

.tabs-5 .tab_desc a.button {
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px 45px;
    letter-spacing: 1.2px;
}

.tabs-5 .tab_img {
    padding: 20px;
    width: 45%;
    float: left;
}

.tabs-5 .tab_img img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/* Social Icons */

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-icons li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
    width: 25px;
    text-align: center;
}

ul.social-icons li a i {
    font-size: 23px;
    color: #767676;
}

ul.social-icons li a:hover i {
    color: #f1463c !important;
}

ul.social-icons li a[title^="angiesList"] {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 20px;
    top: 5px;
}

ul.social-icons li a[title^="angiesList"]:before {
    position: absolute;
    background: #fff;
    top: -4px;
    left: -2px;
    content: '';
    width: 100%;
    height: 15px;
    border: 2px solid #000;
    border-radius: 30px;
}

ul.social-icons li a[title^="angiesList"]:after {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 0;
    height: 0;
    left: 3px;
    border-style: solid;
    border-width: 10px 6px 0 6px;
    border-color: #000 transparent transparent transparent;
}

ul.social-icons li a[title^="angiesList"] .fab:after {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    content: '';
    width: 0;
    height: 0;
    left: 5px;
    border-style: solid;
    border-width: 8px 4px 0 4px;
    border-color: #fff transparent transparent transparent;
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700!important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}

.footer-1-top .fl-module-menu .fl-menu .menu {
    padding: 0;
    margin: 0;
}

.footer-1-top .fl-module-menu .fl-menu .menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.footer-1-top .fl-module-menu .fl-menu .menu li a {
    padding: 5px 0px;
    font-size: 14px;
    line-height: 24px;
}

.footer-1-top .footer-menu .fl-menu .menu li {
    display: inline-block;
}

.footer-1-top .footer-menu .fl-menu .menu li a {
    padding: 0 10px;
    font-size: 12px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}


/* Product Images Thumbnail */

.toggle-image-thumbnails {
    margin: 20px 0 0;
}

.toggle-image-thumbnails.slick-slider {
    padding: 0 15px;
}

.toggle-image-thumbnails.slick-slider .slick-list {
    margin: 0 -5px 0 -7px;
}

.toggle-image-thumbnails a.arrow {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.toggle-image-thumbnails a.arrow.next {
    left: auto;
    right: 0;
}

.toggle-image-thumbnails a.arrow.slick-disabled {
    opacity: 0;
}

.toggle-image-thumbnails.vertical-slider {
    margin: 0;
}

.toggle-image-thumbnails.vertical-slider.slick-slider {
    padding: 25px 0;
}

.toggle-image-thumbnails.vertical-slider a.arrow {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    line-height: 0;
}

.toggle-image-thumbnails.vertical-slider a.arrow.next {
    top: auto;
    bottom: 0;
}

.toggle-image-thumbnails.vertical-slider a.arrow.slick-disabled {
    opacity: 0.3;
}

.toggle-image-thumbnails .toggle-image-holder a {
    outline: none;
    border: 3px solid white;
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    margin: 5px 5px;
    background-size: cover;
    background-position: center;
    transition: All 0.5s ease;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
}

.toggle-image-thumbnails .toggle-image-holder a.active {
    border-color: #1a1919;
}

.toggle-image-thumbnails a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}


/* Rug Shop Trading Products */

.products-list .product-list {
    margin: 0 -40px;
    padding: 0;
    list-style: none;
}

.products-list .product-list:after {
    content: "";
    display: table;
    clear: both;
}

.products-list .product-list li {
    width: 25%;
    margin: 15px 0;
    float: left;
    text-align: center;
}

.products-list.column-3 .product-list li {
    width: 33.33%;
}

.products-list.column-2 .product-list li {
    width: 50%;
}

.products-list .product-list li .product-inner {
    margin: 0 20px;
}

.products-list .product-list li .product-img-holder {
    margin: 0 0 20px;
}

.products-list .product-list li .product-info h6 {
    margin: 0;
    color: #bdbdbd;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info h4 {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 10px;
}

.products-list .product-list li .product-info h4 a {
    color: #333;
}

.products-list .product-list li .product-info h4 a {
    color: #428bca;
}

.products-list .product-list li .product-info .price-section span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.products-list .product-list li .product-info .price-section span.price {
    color: #e08d2b;
    font-size: 33px;
}

.products-list .product-list li .product-info .price-section span.sale {
    color: #e08d2b;
    font-size: 12px;
}

.products-list .product-list li .button-section {
    margin: 20px 0 0;
}

.products-list .product-list li .button-section a.button {
    padding: 12px 24px;
    background: #00247a;
    border: 1px solid;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 0 5px;
}

.products-list .product-list li .button-section a.button:hover {
    background: #fff;
    color: #a0332e;
}

.products-list .product-list li .button-section .brand-wrap {
    font-size: 12px;
    color: #908c7b;
    text-transform: uppercase;
}


/* FR Slider */

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 100%;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.fl-slide-mobile-photo-img {
    min-height: 300px;
}

.fl-node-58fab51c4e4ff p a,
.fl-node-5be49ecb044f8 p a,
.fl-node-5aabf8011359b p a {
    display: block;
    padding: 1px 0;
}


/* Product Detail Page CSS */

.product-banner-img {
    margin: -40px 0 0;
}

.product-detail-layout-2 .product-swatch,
.product-detail-layout-4 .product-swatch {
    margin: -200px 0 0;
}

.product-detail-layout-4 .button-wrapper .button:hover,
.product-detail-layout-5 .button-wrapper .button:hover {
    color: #f06449;
}

.product-detail-layout-4 .button-wrapper .button.alt:hover,
.product-detail-layout-5 .button-wrapper .button.alt:hover {
    color: #00263a;
}


/* Spotlights CSS */


/* HP Products Boxes */

.fl-module-njba-logo-grid-carousel .njba-logo-carousel-main .bx-wrapper {
    margin-bottom: 0;
}

.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: 50%;
    right: -50px;
    font-size: 35px;
}

.fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -50px !important;
}


/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    height: 260px;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #00263a !important;
}

.fl-tabs-label.fl-tab-active {
    color: #f06449 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -1px;
}


/* Custom CSS */


/* .main-banner .fl-photo .fl-photo-content,
.main-banner .fl-photo .fl-photo-content img{
    width: 100%;
} */

.welcome-text {
    position: relative;
}

.welcome-text .fl-row-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.review-wrap {
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    font-family: 'PT Sans Narrow', sans-serif;
}

.review-wrap .fa {
    font-size: 110%;
    margin: 0px;
    vertical-align: middle;
}

.review-wrap .fa:last-child {
    margin-right: 7px;
}

.review-wrap .button {
    margin: 20px 0 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.copyrights .social-icons {
    text-align: center;
}

.copyrights .social-icons a:hover,
.copyrights .social-icons a:hover i {
    color: #000 !important;
}

.copyrights a {
    color: #767676;
}

.copyrights a:hover {
    color: #000;
}

.broken_link,
a.broken_link {
    text-decoration: none!important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* CSS for the Plugin */

.njba-logo-inner {
    border: none!important;
}

h4 .njba-logo-title {
    height: 15.6px;
    width: 103px;
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 15px;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -20px;
}

.bx-wrapper .bx-prev {
    right: 64px!important;
    left: auto!important;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 35px;
}

#hp-product-2 h3.njba-logo-title {
    padding: 10px 17px 13px;
}

.njba-logo-grid-main .njba-logo-inner {
    margin-bottom: 50px;
}

.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none!important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4A4A4A;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}


/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px!important;
}

.nav-1-menu .menu a {
    padding-top: 0px!important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}


/* Product Grid CSS */

.product-grid .product-row>.col-md-4:nth-child(3n+1) {
    clear: left;
}

.product-grid .product-row .fl-post-grid-post {
    margin-bottom: 30px;
    font-size: 14px;
    text-align: center;
}

.product-grid .product-row .fl-post-grid-post h2 {
    font-size: 22px;
}

.storename {
    list-style: none;
    padding: 0px;
    font-size: 14px;
}

.product-variations img {
    width: auto;
    height: auto;
    max-height: 160px;
    margin: 0 auto;
}

.button-wrapper a.button {
    display: block;
}

.button-wrapper a:not(.button) {
    font-size: 14px;
}

#djcustom-footer .store-container .phone {
    display: none;
}

.fl-builder-content .uabb-creative-button-wrap a.uabb-button * {
    color: #fff !important;
}

/* #responsive-menu-container #responsive-menu>li:last-child {
    display: none !important;
} */

.gform_wrapper .gfield_time_hour input, .gform_wrapper .gfield_time_minute input{
    text-align: center;
}

.fl-post-grid-gallery {
    background-position: center !important;
}

.storename p,
#fl-icon-text-5c9e001d8a2c1 p,
#fl-icon-text-5c6511271c723 p {
    margin: 0px !important;
}

.fl-node-5ca20e990af82 .fl-rich-text,
.fl-node-5ca1e3093fe86 .fl-rich-text {
    display: flex !important;
}

.fl-node-5ca20e990af82 .fl-rich-text h3,
.fl-node-5ca1e3093fe86 .fl-rich-text h3 {
    margin: 0 !important;
    margin-right: 5px !important;
    color: #ffffff;
}

.fl-node-5ca20e990af82 .fl-rich-text .storename .phone a span,
.fl-node-5ca1e3093fe86 .fl-rich-text .storename .phone a span {
    font-size: 24px !important;
    font-weight: 700 !important;
    margin-left: 5px !important;
    color: #f06449 !important;
}

.fl-node-5ca320b340637 p {
    margin: 0px !important;
}

.fl-page-bar {
    width: 100%;
    float: left;
}

.product-grid .fl-button+br,
.product-swatch-inner .button-wrapper .button.alt,
.product-grid .fl-button {
    display: none !important;
}

.product-swatch-inner .button-wrapper .text-right {
    text-align: center !important;
}

.store-opening-hrs-container .store-opening-hrs{

}


/* Media Queries */

@media (max-width:1250px) {
    .fl-page-bar {
        padding: 0 20px;
    }
    .fl-page-nav-wrap .navbar-nav>li>a {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:1140px) {
    .fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
        margin-left: -50px;
    }
}

@media (max-width:1080px) {
    .fl-page-nav-right.fl-page-header-fixed,
    .fl-page-header-fixed {
        display: none !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-wrap .navbar-nav {
        margin: 0;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav ul.navbar-nav>li.menu-item {
        display: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-search {
        position: absolute;
        top: 25px;
        right: 30px;
    }
    
    .fl-full-width .container{
        padding: 10px 6px 0;
    }
    .active-gallery-modal .fl-row-content-wrap{
        max-width: 980px;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-search a.fa-search{
        color: #000;
    }
}

@media (max-width:991px) {
    .fl-page-bar .fl-page-bar-container {
        padding-left: 0;
        padding-right: 0;
    }
    .fl-page-nav-centered-inline-logo {
        position: absolute !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-nav-col {
        display: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-row {
        text-align: center;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        text-align: center !important;
        padding: 0;
        margin: -50px 0 0 !important;
        width: auto;
        display: inline-block !important;
        float: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo .fl-logo-img {
        max-height: 160px !important;
        width: auto !important;
    }
    .main-banner>.fl-row-content-wrap {
        width: 100%;
    }
    .tabs-5 .fl-tabs-label{
        max-width: 100%!important;
        background:#bdbdbd;
    }
    .tabs-5 .fl-tabs-label.fl-tab-active{
        background: #e4e4e4;
    }

    .welcome-text .fl-row-content-wrap {
        position: static;
        background: #000;
    }

}

@media (max-width: 820px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 25% !important;
        padding: 0 15px;
        max-width: none;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        width: 100% !important;
        order: -1;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: auto;
        border-bottom: 1px solid #fff;
        padding: 0;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content .fl-module .fl-icon {
        vertical-align: top;
        padding-top: 5px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child .fl-col-content .fl-module:first-child .fl-icon {
        vertical-align: top;
        padding-top: 6px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child .fl-col-content .fl-module:first-child .fl-icon-text{
        vertical-align: top;
        padding-top: 7px;
    }
}

@media (max-width: 768px) {
    .fl-col-small {
        max-width: 100%;
        padding: 0 15px;
    }
    .facetwp-per-page select {
        width: 120px!important;
    }
    #djcustom-footer .copyrights {
        text-align: center;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col:first-child {
        order: 3;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li {
        display: inline-block;
        border-left: 1px solid #848484;
        border-top: 0;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li:first-child {
        border-left: 0;
    }
    .cat-boxes .fl-col-group .fl-col .fl-col-content .fl-module-callout {
        text-align: center;
    }
    .cat-boxes .fl-col-group .fl-col .fl-col-content .fl-module-callout>.fl-module-content {
        display: inline-block;
        vertical-align: top;
    }
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 33.33%;
        float: left;
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left !important;
    }

    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 24% !important;
        padding: 0 15px;
        max-width: none;
    }
    .fl-row[data-node] .fl-row-content-wrap{
        padding-right:1px;
        padding-left: 1px;
    }
}

@media (max-width: 767px) {
    .fl-page-bar {
        position: relative;
        z-index: 2;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row>.col-sm-6 {
        width: 50%;
        float: left;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-text {
        text-align: inherit;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo {
        margin: 0px !important;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo .fl-logo-img {
        max-height: 120px !important;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 50% !important;
        margin-bottom: 20px;
    }
    .cat-boxes .fl-module-info-banner .uabb-module-content .uabb-ultb3-img {
        width: 100% !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
        left: 0 !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
        right: 0 !important;
    }
    .hp-product-1 .fl-module-njba-logo-grid-carousel .njba-out-side .njba-logo-image-responsive {
        display: block;
        margin: 0 auto;
        max-height: 180px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label {
        max-width: none;
        text-align: left;
        background: #fbfafa;
        margin-bottom: 15px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label.fl-tab-active {
        background: #f06449;
        color: #fff !important;
        margin-bottom: 0px;
    }
    .tabs-5 .fl-tabs-panels .fl-tabs-label.fl-tab-active .fas:before {
        content: "\f068";
    }
}

@media (max-width: 599px) {
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row>.col-sm-6 {
        width: 100%;
        text-align: center;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row>.col-sm-6:last-child {
        display: none;
    }
    .fl-page-nav-centered-inline-logo .fl-page-header-logo .fl-logo-img {
        max-height: 90px !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 48%;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(2n+1) {
        clear: left !important;
    }

    .fl-page-bar .fl-page-bar-container.container{
        padding: 5px 6px;
    }
    
}

@media (max-width: 479px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 100% !important;
        border-bottom: 1px solid #fff;
        margin: 0 15px;
        padding-bottom: 15px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        border-bottom: 0;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        align-items: center;
        flex-direction: column;
    }
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 100%;
        clear: left !important;
    }
	
}

